<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.ConexionBD" connectionString="Data Source=DESKTOP-5OGRG0H\SQLSERVEROSCAR;Initial Catalog=ExamenFinal_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>